table {
    border-collapse: collapse;
    width: 50%;
    max-width: 50%;
    align-items: center;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 14.28%; 
}
th.tiny {
    width: 20%
}
th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 14.28%; 
    background-color: #f0f0f0;
}
