table {
    border-collapse: collapse;
    width: 70%;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    height: 30px;
    color: black;
}
.tiny {
    width: 3%
}
th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    background-color: #f0f0f0;
}
.horse-name {
    width: 30%;
    text-align: left;
}
.entry_table {
    display: flex;
    justify-content: center;
}
.face {
    width: auto; 
    height: 30px; 
    margin-right:5px;
}
td.waku-1 { 
    background-color: #ffffff; 
}
td.waku-1.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
td.waku-2 { 
    background-color: #000000; 
}
td.waku-2.soft-bg { 
    background-color: rgba(0, 0, 0, 0.3);
}
td.waku-3 { 
    background-color: #ff3333;
}
td.waku-3.soft-bg { 
    background-color: rgba(255, 51, 51, 0.3);
}
td.waku-4 { 
    background-color: #3333ff; 
}
td.waku-4.soft-bg { 
    background-color: rgba(51, 51, 255, 0.3);
}
td.waku-5 { 
    background-color: #ffff66; 
}
td.waku-5.soft-bg { 
    background-color: rgba(255, 255, 102, 0.3); 
}
td.waku-6 { 
    background-color: #66cc66; 
}
td.waku-6.soft-bg { 
    background-color: rgba(102, 204, 102, 0.3);
}
td.waku-7 { 
    background-color: #ff9933; 
}
td.waku-7.soft-bg { 
    background-color: rgba(255, 153, 51, 0.3);
}
td.waku-8 { 
    background-color: #ff99cc; 
}
td.waku-8.soft-bg { 
    background-color: rgba(255, 153, 204, 0.3);
}
