table {
    border-collapse: collapse;
    width: 70%;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    height: 30px;
    color: black;
}
.tiny {
    width: 3%
}
th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    background-color: #f0f0f0;
}
.horse-name {
    width: 30%;
    text-align: left;
}
.entry_table {
    display: flex;
    justify-content: center;
}
.face {
    width: auto; 
    height: 30px; 
    margin-right:5px;
}
.waku-1,
.waku-1.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-2,
.waku-2.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-3,
.waku-3.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-4,
.waku-4.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-5,
.waku-5.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-6,
.waku-6.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-7,
.waku-7.soft-bg { 
    background-color: rgba(255, 255, 255, 0.5); 
}
.waku-8 { 
    background-color: rgba(255, 153, 204, 0.3);
}
