.menu{
    text-align: center;
}
.menu_bar {
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.menu_bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  /* 横並びにする */
}
.menu_bar li {
    margin: 0;
    flex: 1;
}
.menu_bar a {
    width: 100%;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    box-sizing: border-box;
}
.menu_bar a:hover {
    background-color: #555;
    color: white;
}
.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between; 
    margin: 0 20px;
}
.event-list {
    width: 22%; /* ここを調整：16%〜22%程度で好みに応じて */
    max-width: 250px; /* 画面が広すぎるときに広がりすぎないように */
    margin-left: auto; 
    max-height: 600px;
    padding: 0 8px; /* ちょっと内側に余白をつけても見やすくなる */
}
.schedule_table{
    border-collapse: collapse;
    width: 100%;
}
.schedule_table td{
    border: none;
    padding: 4px 8px;
}
td.schedule_date{
    width: 15%;
}
td.schedule_place{
    width: 15%; 
}
td.schedule_ground{
    width: 5%; 
}
td.schedule_distance{
    width: 10%; 
}
td.schedule_name{
    width: 50%;
    text-align: left;
}
td.schedule_time{
    width: 10%; 
}
header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
}
iframe {
    border: none;
}
.promo-video{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;     /* 横中央 */
    justify-content: center; /* 縦中央（必要なら） */
    text-align: center;
}
.promo-video h2{
    align-self: flex-start;  /* h2だけ左寄せに */
    margin-top: 10px;        /* お好みで間隔調整 */
}
.promo-video.full-width {
  width: 100%;
}
a {
    text-decoration: none;
}
