<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>大ヴァロ予想王</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='resulttable.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='entryhorsetable.css') }}">
    </head>
    <body>
        {% include 'menubar.html' %}
        <div class="tabs-container">
            <div class="button-container">
                <button class="toggle-button active" data-target="entries">出馬表</button>
                <button class="toggle-button" data-target="result">結果</button>
                <button class="toggle-button" data-target="video">レース映像</button>
            </div>
            <div class="tab-content-container">
                <div id="entries" class="tab-content active">
                    {% include 'entries.html' %}
                </div>
                <div id="result" class="tab-content">
                    {% include 'race_result.html' %}
                </div>
                <div id="video" class="tab-content">
                    {% if video_url %}
                        <iframe
                            width="560"
                            height="315"
                            src="{{ video_url }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        >
                    {% else %}
                        <p>レース映像はまだありません</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buttons = document.querySelectorAll('.toggle-button');
            const contents = document.querySelectorAll('.tab-content');
        
            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    const targetId = button.getAttribute('data-target');
        
                    // すべてのボタンからactiveクラスを削除
                    buttons.forEach(item => item.classList.remove('active'));
                    // クリックされたボタンにactiveクラスを追加
                    button.classList.add('active');
        
                    // すべてのコンテンツを非表示にする
                    contents.forEach(content => content.classList.remove('active'));
        
                    // 選択されたコンテンツを表示する
                    document.getElementById(targetId).classList.add('active');
                });
            });
        });
    </script>
</html>
