<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>大ヴァロ予想王</title>
    </head>
    <body>
        <header>
            <h1>大ヴァロ予想王</h1>
        </header>
        <h2>ユーザー登録</h2>
        <form method="POST">
            ユーザー名: <input type="text" name="username" required><br>
            パスワード: <input type="password" name="password" required><br>
            <button type="submit">登録</button>
        </form>
    </body>
</html>