.sort-indicator {
    margin-left: 5px;
    font-size: 0.8em;
    color: #555;
    display: inline;
}
.score-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.score-table th {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.score-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.score-table th.tiny {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    width: 5%;
}
.score-table th.short {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    width: 8.5%;
}
.score-table th.middle {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    width: 10%;
}