table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 14.28%; 
}
th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 14.28%; 
    background-color: #f0f0f0;
}